:root {
  --primary-color: #662f1d;
  --font-color: #6c3f21;
  --secondary-color: #a7663b;
  --tertiary-color: rgb(255, 165, 0);
  --primary-hover: rgba(210, 105, 30, 0.9);
  --secondary-hover: rgba(136, 88, 26, 0.4);
  --tertiary-hover: #ffa50080;
  --equalizer-color: whitesmoke;
  --background-image: linear-gradient(to top left, rgba(255, 165, 0, 0.7), rgb(102, 47, 29))
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--equalizer-color);
  color: var(--primary-color);
}

/* Globals */

li {
  list-style: none;
}

.endow-btn {
  background: var(--background-image);
  color: var(--equalizer-color);
  width: 10rem;
  font-weight: bold;
  padding: .5rem .6rem;
  margin-top: 1rem;
  border: 5px double var(--equalizer-color);
  border-radius: 2rem;
  box-shadow: 1px 2px;
  font-size: 1.2rem;
}

.endow-btn:hover {
  color: var(--primary-color);
  background-color: var(--equalizer-color);
}

.site-wrapper {
  position: relative;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
}


/* navigation */

nav {
  z-index: 1000;
  background: transparent;
  color: var(--primary-color);
}

nav a {
  color: var(--equalizer-color);
  font-size: 1.3rem;
  text-decoration: underline;
}

nav a:hover {
  color: var(--primary-color);
}

.order {
  background-color: var(--secondary-color);
  border: 1px solid var(--equalizer-color);
  margin-left: 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-toggler {
  color: var(--equalizer-color);
  font-weight: bold;
  border: 2px solid;
}

.navbar-brand img {
  width: 120px;
  height: 50px;
}


/* landing */

.bg-1 {
  background-image: url(./images/24.jpg);
}

.bg-2 {
  background-image: url(./images/14.jpg);
}

.bg-3 {
  background-image: url(./images/9.jpg);
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-hover);
  text-align: center;
  padding: 1rem;
  color: var(--equalizer-color);
}

#landing-area {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#landing-area .owl-item div {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Our Story */
.our-story {
  background: var(--secondary-hover);
  color: var(--primary-color);
}



.story-span {
  color: var(--secondary-color);
}

.story-teller {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

/* Services */
.service1,
.service2,
.service3 {
  display: flex;
}

.service-icon {
  margin-right: 2rem;
  border: 2px solid var(--primary-color);
  padding: .5rem;
  font-size: 3rem;
  color: var(--secondary-color);
}

.service-image {
  width: 100%;
  height: 30rem;
}

.pic-story {
  position: relative;
  height: 100%;
}

.service-p {
  position: absolute;
  font-size: 1.7rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-hover);
}

.service-p p {
  position: relative;
  top: 40%;
  color: var(--equalizer-color);
  background-color: var(--secondary-hover);
  padding: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
}

/* insta section */

.insta-section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-auto-rows: 150px;
}


.insta-link,
.insta-link:hover {
  color: var(--primary-hover);
}

.img-dime {
  height: 150px;
  width: 200px;
}

.large-dime {
  width: 200px;
  height: 300px;
}

.wide-dime {
  width: 422px;
  height: 150px;
}

.help {
  background: var(--background-image);
  color: var(--equalizer-color);
  border-top: 5px solid var(--primary-color);
}


.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

}

.social-media p {
  margin: 1rem;
  padding: 1rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--equalizer-color);
}

footer h5 {
  font-weight: bold;
  text-decoration: underline;
}

footer a {
  color: var(--equalizer-color);
}

/* Media Query */


@media screen and (max-width: 960px) {

  /* navigation */
  nav {
    background: var(--background-image);
    border-bottom: 3px solid var(--equalizer-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }

  nav a {
    text-decoration: none;
  }

  nav a:hover {
    color: var(--equalizer-color);
  }

  .endow-btn {
    font-size: .9rem;
    width: 50%;
  }

  .wide-dime {
    width: 300px;
    height: 150px;
  }

  .social-media p {
    margin: .5rem;
    padding: .3rem;
  }


}

@media screen and (min-width: 769px) {

  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .story {
    font-size: 1.5rem;
  }

  .story-teller {
    position: absolute;
    right: .0rem;
  }

  .navbar.active {
    background: var(--equalizer-color);
    border-bottom: 3px solid var(--primary-color);
  }

  .navbar.active a {
    color: var(--primary-color);
  }

  .navbar.active .order {
    color: var(--equalizer-color);
  }
}